<p id="notice"><%= notice %></p>

<div class="row header-section">
  <div class="large-8 columns no-padding">
    <h1>Préstamos</h1>
  </div>
  <div class="large-2 columns no-padding">
    <%= link_to 'Agregar Préstamo', new_prestamo_path, class: 'button button-add' %>
  </div>
</div>

<table class="stack table-prestamo">
  <thead>
    <tr>
      <th>Código USS</th>
      <th>Equipo</th>
      <th>Cliente</th>
      <th>Fecha Préstamo</th>
      <th>Estado</th>
      <th>Prestado Por:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <% if prestamo.estado == "Prestado" %>
        <tr class="td-red">
          <td><%= prestamo.equipo.codUss %></td>
          <td><%= prestamo.equipo.marca.nombre << " " << prestamo.equipo.modelo %></td>
          <td><%= prestamo.cliente.nombre << " " << prestamo.cliente.apellido %></td>
          <td><%= prestamo.created_at.strftime("%d %b %y / %H:%M Hrs") %></td>
          <td><%= prestamo.estado %></td>
          <td><%= prestamo.usuario.nombre << " " << prestamo.usuario.apellido %></td>
          <td><%= link_to 'Show', prestamo %></td>
          <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
          <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% else %>
        <tr class="td-green">
          <td><%= prestamo.equipo.codUss %></td>
          <td><%= prestamo.equipo.marca.nombre << " " << prestamo.equipo.modelo %></td>
          <td><%= prestamo.cliente.nombre << " " << prestamo.cliente.apellido %></td>
          <td><%= prestamo.created_at.strftime("%d %b %y / %H:%M Hrs") %></td>
          <td><%= prestamo.estado %></td>
          <td><%= prestamo.usuario.nombre << " " << prestamo.usuario.apellido %></td>
          <td><%= link_to 'Show', prestamo %></td>
          <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
          <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
